In [2]:
import numpy as np
import pandas as pd

In [37]:
data =  pd.read_csv('D:/Life Expectancy Data.csv')

In [38]:
data=data.dropna()
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [39]:
x=data.iloc[:,16:]
x=x.drop("Population",axis=1)

x.head()

,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,584.259210,17.2,17.3,0.479,10.1
1,612.696514,17.5,17.5,0.476,10.0
2,631.744976,17.7,17.7,0.470,9.9
3,669.959000,17.9,18.0,0.463,9.8
4,63.537231,18.2,18.2,0.454,9.5

In [65]:
y=data.iloc[:,3]
y.head()

0    65.0
1    59.9
2    59.9
3    59.5
4    59.2
Name: Life expectancy , dtype: float64

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15)

In [46]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [67]:
from sklearn.metrics import r2_score

In [68]:
y_predict=model.predict(x_test)
r2_score(y_test,y_predict)

0.6163270781672683

In [70]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
mean_absolute_error(y_test,y_predict)

3.8451013639757377

In [71]:
mean_absolute_error(y_test,y_predict)

3.8451013639757377